<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <h1>Comentarios</h1>
    </header>

    <section>
        <form action="/comentario/<%- nome_usuario %>/<%- id %>?_method=delete" method="post">
            <label>Comentario</label>
            <p>
                <label><%- comentario.comentario %></label>
                <button type="submit">excluir</button>
                <a href="/comentario/<%- nome_usuario %>/<%-id%>/editar">editar</a>
            </p>

        </form>
    </section>


    <footer>
        <small>PWeb2 - Trabalho</small>
    </footer>
</body>

</html>